[submodule "src/3rdparty/SFML"]
	path = src/3rdparty/SFML
	url = https://github.com/SFML/SFML.git
[submodule "src/3rdparty/entityx"]
	path = src/3rdparty/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "src/3rdparty/nlohmann_json"]
	path = src/3rdparty/nlohmann_json
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent.git
